<h1>API for crime.ee player data</h1>

This JSON API parses the HTML of <a href="http://crime.ee">crime.ee</a>
public player stats page and returns a neatly extrated JSON object with all the relevant data.

<h2>Player data</h2>

<strong>Base URL: <a href="/players">/players</a></strong>

<h3>Parameters</h3>

<ul>
  <li><strong>username</strong></li>
  <li><strong>world</strong></li>
  <li><strong>api_key</strong> - use "demo", required</li>
</ul>

<h3>Example</h3>
<p><%= link_to '/players?world=valge&username=flama123&api_key=demo', 'players?world=valge&username=flama123&api_key=demo' %></a></p>
<hr/>

Created by <a href="http://about.me/andoroots">A. Roots</a> 2013