<script type="text/javascript" src="http://sigmajs.org/js/sigma.min.js"></script>
<script type="text/javascript" src="http://sigmajs.org/js/sigma.parseGexf.js"></script>
<script type="text/javascript" src="http://sigmajs.org/js/sigma.forceatlas2.js"></script>

<h3>Friend graph</h3>

<p>The nodes of the graph represent users, each edge represents a friendship link. Players in the same gang are colored similarly. The size of the node depends on the fame.</p>

<div class="span12 buttons-container">

  <button class="btn" id="stop-layout">Stop Layout</button>

  <button class="btn" id="rescale-graph">Rescale Graph</button>

</div>

<div class="sigma" id="sig"></div>
